@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,800&display=swap');

body {
  background: #FAFAFA;
  color: #111517;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:'Nunito Sans', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1313px;
  padding-left: 15px;
  padding-right: 15px;
}